// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
    
    .post-title {
        font-size: 2em;
        
        a {
            color: #000;
            text-decoration: none;            
        }        
    }
    
    .post-date {
        display: inline-block;
        font-size: 1em;
//         padding: 5px 0px 0px 5px;
    }
    
    .post-user {
        display: inline;
//         padding: 5px 0px 0px 0px;
    }
    
    .post-body {
        font-size: 1.1em;
        margin-top: 10px;
        
        
        img {
          max-width: 600px;
          max-height: 500px;
          display: block;
          margin-left: auto;
          margin-right: auto
        }
    }
   
}

.field {
    textarea {
        font-size: 14px;
        height: 600px;
        width: 100%;
    }
}
