// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
//     border: 1px solid black;
    
    .post-title {
//         background-color: #b9b9b9;
//         border-bottom: 1px solid black;
        font-size: 2em;
        padding: 5px;
        
        a {
            color: #000;
            text-decoration: none;            
        }        
    }
    
    .post-date {
        display: inline-block;
        font-size: 1.5em;
        padding: 5px 0px 0px 5px;
    }
    
    .post-user {
        display: inline;
        padding: 5px 0px 0px 0px;
    }
    
    .post-body {
        padding: 5px;
    }
}